/* 
#open-btn{
    position: relative;
    border: none;
    height: 3rem;
    width: 10rem;
    top: 30rem;
    left: 4rem;
    background-color: rgb(118, 6, 6);
    color: white;
    font-size: 18px;
    border-radius: 0.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 3px 4px 4px 0px rgb(70, 67, 67);
}
#open-btn:hover{
    background-color: rgba(2, 11, 133, 0.881);
    cursor: pointer;
}
#model{
    position: relative;
    height: 12rem;
    width: 25rem;
    background-color: rgb(30, 5, 173);
    padding-left: 4rem;
    padding-top: 3rem;
    border-radius: 1rem;
    font-size: 22px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 4px 6px 6px 0px rgb(109, 104, 104);
}
#close-btn{
    position: relative;
    top: 1rem;
    cursor: pointer;
}
#model-container{
    position: fixed;
    z-index: 1;
    display: none;
}
@keyframes animatemodel {
    from{
        top: -800px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
} */


.grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(165, 252, 249);
    border: 3px solid black;
    padding: 20px;
    font-size: 23px;
}
.grid-child{
    display: grid;
    color: rgb(159, 157, 157);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1.8px 1.5px rgb(82, 78, 78);
}
@media screen and (max-width:400px){
.grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(236, 244, 244);
    border: 3px solid rgb(133, 8, 8);
    padding: 10px;
    font-size: 14px;
}
.grid-child{
    display: grid;
    color: rgb(7, 1, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0.6px 1px rgb(199, 193, 193);
}
}

/* main project using all three language in the project */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.nav{
    height: 14vh;
    width: 100%;
    background-color: black;
    /* display: none; */
}
.image-logo{
    position: absolute;
    height: 34vh;
    top: -3.5rem;
    left: 1rem;
}
.image-logo:hover{
    transform: scale(1.2,1.2);
}
.image-glub{
    position: relative;
    height: 15vh;
    top: -0.2rem;
    left: 14rem;
}
.image-glub:hover{
    transform: scale(1.4,1.4);
}
#nav{
    display: flex;
    position: absolute;
    top: 2rem;
    right: 20rem;

}
a{
    position: relative;
    text-decoration: none;
}
#mission{
    position: relative;
    color: white;
    font-size: 18px;
    top: -0.2rem;
}
#mission:hover{
    color: red;
    transform: scale(1.3,1.3);
}
#blog{
    position: relative;
    left: 4rem;
    color: white;
    font-size: 18px;
    top: -0.2rem;
}
#blog:hover{
    color: red;
    transform: scale(1.3,1.3);
}
#contact{
    position: relative;
    left: 7rem;
    color: white;
    font-size: 18px;
    top: -0.2rem;
}
#contact:hover{
    color: red;
    transform: scale(1.3,1.3);
}
.tranning-box{
    position: relative;
    left: 2rem;
    height: 4vh;
    width: 12vw;
    padding-left: 1rem;
    border: none;
    background-color:rgb(8, 8, 8);
    color: white;
    font-size: 17px;
    top: -0.2rem;
}
.tranning-box:hover{
    color: red;
    transform: scale(1.3,1.3);
}
.branch-box{
    position: relative;
    left: 5rem;
    padding-left: 1rem;
    background-color: rgb(10, 10, 10);
    border: none;
    height: 4vh;
    width: 12vw;
    color: white;
    font-size: 17px;
    top: -0.2rem;
}
.branch-box:hover{
    color: red;
    transform: scale(1.3,1.3);
}
.tranning-color{
    background-color:white;
    color: black;
    font-size: 17px;
}
.branch-color{
    background-color: white;
    color: black;
    font-size: 17px;
}
.number{
    position: absolute;
    height: 3rem;
    width: 9rem;
    border-bottom-right-radius: 2rem;
    right: 2rem;
    top: 1rem;
    background-color: red;
}
.number:hover{
    background-color: rgb(122, 118, 118);
    cursor: pointer;
    transform: scale(0.9,1);
}
.mob{
    position: relative;
    top: 0.7rem;
    color: white;
    left: 1.8rem;
    font-size: 20px;
    font-weight:bold ;
}
#font-call{
    position: relative;
    height: 23px;
    left: 0.4rem;
    top: -0.4rem;
    color: white;
}
/* Now i will star work on body container */
.container-body{
    height: auto auto;
    width: 100%;
    background-color: black;
}
.container-small{
    background-image: url(a6ba4abcb8c689d255bb3463dcf3c936.jpg); 
}
.paragraph1{
    position: relative;
    height: 83vh;
    width: 92vw;
    margin-left: 2rem;
    top: 1rem;
    border: 1px solid red;
}
.animate1{
    position: relative;
    height: 5vh;
    width: 45vw;
    border: 1px solid red;
    top: 1rem;
    left: 19rem;
    display: flex;
    /* justify-content: center; */
}
.welcome{
    position: relative;
    font-size: 20px;
    color: rgb(16, 255, 247);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin{
    0%{-webkit-transform:translate3d(20px, 20px);}
    100%{-webkit-transform: translate3d(20px, 30px);}
}
@keyframes spin{
    0%{transform: translateZ(0px);}
    100%{transform: translateZ(100px);}
}
.mixed-martial{
    position: relative;
    font-size: 32px;
    top: 12rem;
    left: 2rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mix{
    color: red;
    left: 2rem;
}
.some-text{
    position: relative;
    font-size: 16px;
    top: 16rem;
    left: 2rem;
    color: white;
}

   /* here we will desing of paragraph2 */
.paragraph2{
    position: relative;
    height: 83vh;
    display: grid;
    width: 92vw;
    border-bottom: 1px solid white;
    top: 5rem;
    margin-left: 2rem;
}
#start{
    position: relative;
    height: 3.5rem;
    width: 15rem;
    border-radius: 0.4rem;
    padding-right: 0rem;
    border: none;
    box-shadow: 0px 3px 3px 0px rgb(186, 185, 185);
    color: rgb(249, 245, 245);
    background-color: rgb(241, 57, 57);
    font-size: 16px;
    font-weight: bold;
    top: 2rem;
    left: 2rem;
}
#start:hover{
    border: 2px solid rgb(3, 213, 249);
    box-shadow: 0px 3px 3px 0px rgb(10, 255, 255);
    /* transform: translateX(15px); */
}
#font-direction{
    position: relative;
    height: 23px;
    width: 2vw;
    font-size: 19px;
    color: rgb(255, 251, 251);
}
.branches1{
    color: white;
}
.foot{
    position: relative;
    /* border: 1px solid rgb(242, 11, 11); */
    padding-left: 1rem;
    padding-top: 1rem;
    height: 10rem;
    top: 5.8rem;
    background-color: black;
    border-radius: 1rem;
}
.foot-input{
    position: relative;
    height: 2rem;
    width: 14rem;
    margin-left: 0.4rem;
    padding-left: 1rem;
    border-radius: 3px;
    border: none;
}
.branch-select{
    height: 2rem;
    width: 14rem;
    margin-left: 0.4rem;
    padding-left: 1rem;
    border-radius: 3px;
    font-size: 14px;
}
#trail-class{
    position: relative;
    height:2rem;
    width: 13rem;
    margin-left: 0.4rem;
    padding-left: 1rem;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    font-weight:bold ;
    background-color: red;
    color: white;
}
.branches1{
    position: relative;
    height: 7rem;
    right: 0.4rem;
    display: flex;
}
#google-icon{
    position: relative;
    height: 7rem;
    width: 5rem;
    left: 3rem;
}
.scoring{
    position: relative;
    margin-left: 10rem;
    top: 1rem;
    padding-top: 1rem;
}
#plus{
    color: red;
    font-weight: bold;
}
#score1{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    height: 3vh;
    width: 1.8vw;
    right: 0.2rem;
    /* border: 1px solid red; */
    display: inline-block;
}
/* paragraph3 design phase */
.paragraph3{
    position: relative;
    height: 119vh;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    top: 6rem;
    
}
.first-line{
    position: relative;
    /* border: 1px solid red; */
    width: 10vw;
    height: 5vh;
    left: 35rem;
    top: 2rem;
    font-size:larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}
.second-line{
    position: relative;
    /* border: 1px solid red; */
    height: 6vh;
    width: 37vw;
    top: 4rem;
    left: 25rem;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.third-line3{
    position: relative;
    /* border: 1px solid red; */
    display: grid;
    width: 96vw;
    left: 1.1rem;
    top: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ready{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.fighter-img{
    position: relative;
    width: 93vw;
    height: 72vh;
    left: 2.3rem;
    top: 7rem;
    /* border: 1px solid red; */
}
        /* paragraph4 ,now we will design it */
.paragraph4{
    position: relative;
    display: grid;
    /* border: 2px solid rgb(211, 195, 9); */
    height: 100vh;
    background-color: rgb(0, 0, 0);
    top: 8rem;
}
.simple-text{
    position: relative;
    /* border: 1px solid red; */
    color: white;
    width: 23vw;
    height: 16vh;
    left: 30rem;
    top: 2rem;
}
.battle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5rem;
    font-size: 18px;
    color: red;
}
.our-tranning{
    position: relative;
    /* border: 1px solid red; */
    margin-left: 13.8rem;
    height: 6vh;
    width: 19vw;
    top: 1rem;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.foot2{
    position: relative;
    color: white;
    border: 1px solid red;
    height: 36vh;
    background-color: black;
    top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glub-icons{
    position: relative;
    height: 5rem;
    /* border: 1px solid red; */
    left: 6.5rem;
    
}
.content1{
    position: relative;
    /* border: 1px solid white; */
    width: 25vw;
    height: 33.3vh;
    background-color: rgb(111, 93, 70);
    
}
.read-more1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.red-more2{
    position: relative;
    left: 1rem;
}
#read-more3{
    position: relative;
    left: 6rem;
    top: 1rem;
    color: red;
}
#read-more3:hover{
    color: blue;
}
#award{
    position: relative;
    left: 1rem;
}
.mma-fight1{
    position:relative;
    width: 25vw;
    height: 33.7vh;
    left: -0.1rem;
    
}
.mma-fight2{
    position: relative;
    height: 10vh;
}
.content2{
   position: relative;
   height: 33.3vh;
   width: 25vw;
   /* border: 1px solid red; */
   background-color: rgb(109, 100, 89);
}
.mma-fight2{
    position: relative;
    height: 33.3vh;
    width: 22vw;
    /* border: 1px solid red; */
   
}
.content2{
    position: relative;
}
.fitness{
    position: relative;
    left: 6rem;
    top: 4.6rem;
    font-weight: bold;
    
}
.fitness-line{
    position: relative;
    left: 4rem;
    top: 4.8rem;
}
#sweat{
    position: relative;
    left: 2.6rem;
}
#read-more4{
    position: relative;
    top: 6rem;
    left: 7.6rem;
    color: red;
}
#read-more4:hover{
    color: blue;
}
  /* paragraph5 ,now we will design it */
.paragraph5{
    display: grid;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    height: 100vh;
    color: white;
    position: relative;
    top: 8rem;
    /* display: none; */
}
.content7{
    position: relative;
    border: 6px solid red;
    height: 90vh;
    display: grid;
    width: 90vw;
    left: 3.5rem;
    top: 2rem;
}
.special1{
    position: relative;
    /* border: 1px solid red; */
    width: 9vw;
    height: 5vh;
    left: 32rem;
    top: 3rem;
    font-size: 28px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.program{
    position: relative;
    /* border: 1px solid red; */
    height: 7vh;
    top: 4rem;
    width: 40vw;
    left: 20rem;
    font-size: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.video-f{
    position: relative;
    height: 27.8vh;
    border-right: 5px solid rgb(76, 0, 255);
    /* border: 1px solid red; */
    top: 13rem;
    width: 30vw;
}
.video-f:hover{
    border-right: 5px solid rgb(0, 223, 248);
}
.small-para{
    position: relative;
    display: grid;
    /* border-left: 4px solid red; */
    width: 60vw;
    left: 24rem;
    padding-left: 2rem;
    padding-top: 1rem;
}
#read-more9{
    color: red;
}
#read-more9{
    /* border: 1px solid red; */
    position: relative;
    width: 8vw;
    height: 4vh;
}
#read-more9:hover{
    color: blue;
}

/* <!-- this is paragraph6 section --> */
.paragraph6{
    position: relative;
    display: flex;
    border-bottom: 1px solid white;
    top: 8rem;
    height: 100vh;
    color: white;
}
.mma-fight7{
    position: relative;
    height: 86vh;
    /* border: 1px solid red; */
    left: 0rem;
    top: 4.5rem;
    width: 30vw;
}
#mma-fight7{
    position: relative;
    height: 86vh;
    width: 30vw;
}
.space{
    position: relative;
    border-radius: 0.2rem;
    background-color: red;
    height: 10vh;
    width: 5vw;
    left: 2.6rem;
    top: 3rem;   
}
.space:hover{
    background-color: rgb(172, 171, 167);
    border-top: 4px solid rgb(255, 153, 0);
    border-left: 4px solid rgb(255, 153, 0);
}
.content8{
    position: relative;
    height: 57vh;
    display: gri;
    border: 3px solid red;
    border-bottom: none;
    border-top: none;
    left: 1rem;
    top: 15rem;
    padding-left: 1rem;
    width: 58vw;
}
.pillars-4{
    position: relative;
    /* border: 1px solid white; */
    color: red;
    width: 26vw;
    left: 1.4rem;
    top: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.our-tranning{
    /* border: 1px solid red; */
    position: relative;
    height: 19vh;
    width: 30vw;
    left: -12rem;
    top: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.impact{
    position: relative;
    /* border: 1px solid white; */
    color: blanchedalmond;
    width: 55vw;
    top: 7rem;
    padding-left: 1rem;
    height: 14vh;
    line-height: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* <!-- this is paragraph7 section --> */
.paragraph7{
    position: relative;
    border-bottom: 1px solid red;
    height:100vh;
    top: 9rem;
}
.content9{
    position: relative;
    height: 94vh;
    /* border: 1px solid yellow; */
    width: 93vw;
    color: white;
    left: 2rem;
    top: 1rem;
}
.mma-fight8{
    position:relative;
    /* border: 1px solid red; */
    height:80vh;
    left: 50rem;
    bottom: 9rem;
    border-radius: 0.2rem;
}
.space2{
    position: relative;
    /* border: 1px solid red; */
    background-color: rgb(254, 48, 2);
    height: 9vh;
    width: 5vw;
    left:48.4rem;
    bottom: 7rem;
    border-radius: 0.3rem;
}
.space2:hover{
    background-color: rgb(172, 176, 182);
    border-left: 4px solid rgb(217, 255, 0);
    border-top: 4px solid rgb(217, 255, 0);
}
.feature{
    position: relative;
    /* border: 1px solid red; */
    height: 4vh;
    width: 9vw;
    top: 2rem;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    position: relative;
    /* border: 1px solid red; */
    width: 31vw;
    height: 14vh;
    top: 3.4rem;
    font-size: 32px;
    line-height: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.watch{
    position: relative;
    height: 9vh;
    width: 47vw;
    /* border: 1px solid red; */
    top: 4rem;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(177, 174, 169);
}
.videos{
    position: relative;
    height: 48vh;
    width: 48vw;
    /* border: 1px solid red; */
    bottom: 25.3rem;
    left: 0.1rem;
}
.video-f1{
    position: relative;
    height: 23vh;
    width: 24vw;
    border-right: 2px solid yellow;
    border-bottom: 2px solid rgb(255, 0, 0);
}
.video-f2{
    position: relative;
    height: 23vh;
    width: 24vw;
    top: -0.2rem;
    border-top: 2px solid rgb(255, 0, 0);
    border-right: 2px solid yellow;
}

.video-f3{
    position: relative;
    height: 23vh;
    width: 24vw;
    bottom: 16.9rem;
    left: 19.2rem;
    border-left: 2px solid yellow;
    border-bottom: 2px solid rgb(255, 17, 0);
}

.video-f4{
    position: relative;
    height: 23vh;
    width: 24vw;
    bottom: 17.1rem;
    left: 19.2rem;
    border-left: 2px solid yellow;
    border-top: 2px solid rgb(255, 17, 0);
}
/* <!-- this is paragraph8 section --> */
.paragraph8{
    position: relative;
    height: 94vh;
    border-top: 3px solid white;
    border-bottom: 2px solid white;
    color: white;
    top: 9rem;

}
.container10{
    position: relative;
    height: 88vh;
    width: 95vw;
    /* border: 1px solid red; */
    top: 1rem;
}
.child-box{
    position: relative;
    height: 44vh;
    width: 40vw;
    /* border: 1px solid red; */
    top: 8rem;
    left: 2rem;
}
.offer-end{
    position: relative;
    /* border: 1px solid red; */
    height: 6vh;
    width: 15vw;
    top: 5rem;
    left: 2.3rem;
    color: red;
    
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.animate{
    position:relative;
    height: 4vh;
    width: 22vw;
    top: 6rem;
}
.discount{
    position: relative;
    font-weight: bolder;
    color: rgb(243, 148, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-webkit-keyframes spin{
    0%{-webkit-transform: translateX(0px);}
    100%{-webkit-transform: translateX(20px);}
}
@keyframes spin{
    0%{transform: translateX(0px);}
    100%{transform: translateX(100px);}
}
.join-before{
    position: relative;
    height: 8vh;
    width: 40vw;
    /* border: 1px solid red; */
    top: 7rem;
    padding-left: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.takewon{
    position: relative;
    height: 74vh;
    width: 50vw;
    /* border: 1px solid red; */
    left: 34rem;
    bottom: 18.3rem;
}
.tekwondo1{
    position: relative;
    height: 60vh;
    top: 5.2rem;
}
.tekwondo2{
    position: relative;
    height: 60vh;
    bottom: 17rem;
    left: 20rem;
}
.childbox-child{
    position: relative;
    line-height: 2rem;
}
#trail2{
    position: relative;
    height: 8vh;
    width: 16vw;
    top: 4rem;
    background-color: rgb(243, 242, 234);
    box-shadow: 0px 3px 4px 0px rgb(187, 184, 183); 
    border: 0.7px solid rgb(167, 164, 164);
    border-radius: 0.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#trail2:hover{
    box-shadow: 0px 4px 4px 0px rgb(19, 147, 245); 
    border: 2px solid  rgb(19, 147, 245);
}

/* here we will write paragraph9 */
.paragraph9{
    position: relative;
    height: 50vh;
    border: 1px solid red;
    top: 9rem;
    color: white;
}