
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    background-color: yellow;
 }
 .main{
    border: 1px solid red;
    width: 35%;
    height: 90vh;
    display: grid;
    position: relative;
    left: 0rem;
    background-image: url(926ebe72a878965a0d75b9bde47fb2eb.jpg);
    background-size: 100% 100%;
 }
 #soy{
    position: relative;
    left: 9rem;
    /* border: 1px solid red; */
    width: 195px;
    height: 40px;
    top: 3rem;
    padding-left: 1rem;
    padding-top:0.2rem ;
    font-size: 20px;
    color: rgb(37, 9, 129);
 }
 .togather{
    position: relative;
    left: 6.4rem;
   
    width: 250px;
    height: 40px;
    top: 0rem;
    padding-left: 1rem;
    padding-top:0.2rem ;
    font-size: 18px;
    color: rgb(243, 46, 243);
  
 }
 .mini{
    position: relative;
    left: 6rem;
    /* border: 1px solid red; */
    width: 260px;
    height: 150px;
    top: -1rem;
    padding-left: 1.3rem;
    padding-top:0.1rem ;
    font-size: 20px;
    /* font-family: 'Cinzel', serif; */
    font-family: 'Dancing Script', cursive;
    color: rgb(23, 18, 122);

 }
 .weds{
    position: relative;
    left: 5rem;
    color: rgb(70, 96, 141);
 }
 .invi{
    position: relative;
    /* border: 1px solid red; */
    width: 330px;
    height: 26px;
    
    left: 5rem;
    bottom: 2rem;
 }
.date{
    position: relative;
    /* border: 1px solid red; */
    width: 175px;
    height: 30px;
    left: 9rem;
    bottom: 3.7rem;
    font-size:20px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 196, 0);
}
.foloow{
    position: relative;
    /* border: 1px solid red; */
    width: 140px;
    height: 30px;
    left: 10rem;
    font-size: 20px;
    bottom: 5rem;
    font-family: 'Dancing Script', cursive;
    color: rgb(228, 78, 248);
}
.second{
    border: 1px solid red;
    width: 35%;
    height: 90vh;
    display: flex;
    position: relative;
    left: 0rem;
    /* flex-wrap: wrap; */
    background-image: url(926ebe72a878965a0d75b9bde47fb2eb.jpg);
    background-size: 100% 100%;
}
.third{
    /* border: 1px solid red; */
    height: 200px;
    width: 350px;
    position: relative;
    top: 7rem;
    padding-left: 1rem;
     font-family: 'Cinzel', serif;
     color: rgb(16, 44, 114);
}
.fourth{
    /* border: 1px solid red; */
    height: 120px;
    width: 300px;
    font-size: 17px;
    right: 1.2rem;
    position: relative;
    top: 20rem;
    padding-left: 1.4rem;
     font-family: 'Cinzel', serif;
     color: rgb(16, 44, 114);
}
.form{
    color: rgb(6, 21, 130);
    font-weight: 600;
}

@media only screen and (max-width:720px){
    .content{
        display: grid;
        width: 100%;
        height: 200vh;
        border: 1px solid red;
        background-color: yellow;
     }
     .main{
        border: 1px solid red;
        width: 35%;
        height: 90vh;
        display: grid;
        position: relative;
        left: 12rem;
        background-image: url(926ebe72a878965a0d75b9bde47fb2eb.jpg);
        background-size: 100% 100%;
        margin-bottom: 0px;
     }
     #soy{
        position: relative;
        left: 4rem;
        /* border: 1px solid red; */
        width: 90px;
        height: 20px;
        top: 3rem;
        padding-left: 0rem;
        padding-top:0.2rem ;
        font-size: 15px;
        color: rgb(37, 9, 129);
     }
     .togather{
        position: relative;
        left: 1rem;
        /* border: 1px solid  red; */
        width: 180px;
        height: 40px;
        top: 2rem;
        padding-left: 1rem;
        padding-top:0.2rem ;
        font-size: 15px;
        color: rgb(243, 46, 243);
      
     }
     .mini{
        position: relative;
        left: 3rem;
        /* border: 1px solid red; */
        width: 150px;
        height: 100px;
        top: 0rem;
        padding-left: 0.2rem;
        padding-top:0.1rem ;
        font-size: 12px;
      
        font-family: 'Dancing Script', cursive;
        color: rgb(23, 18, 122);
    
     }
     .weds{
        position: relative;
        left: 3rem;
        color: rgb(70, 96, 141);
     }
     .invi{
        position: relative;
        /* border: 1px solid red; */
        width: 200px;
        height: 20px;
        font-size: 10px;
        left: 1.2rem;
        bottom: 2rem;
     }
    .date{
        position: relative;
        /* border: 1px solid red; */
        width: 140px;
        height: 27px;
        left: 3.2rem;
        bottom: 3.7rem;
        font-size:16px;
        font-weight: 600;
        font-family: 'Dancing Script', cursive;
        color: rgb(255, 196, 0);
    }
    .foloow{
        position: relative;
        /* border: 1px solid red; */
        width: 120px;
        height: 25px;
        left: 3.5rem;
        font-size: 17px;
        bottom: 6rem;
        font-family: 'Dancing Script', cursive;
        color: rgb(228, 78, 248);
    }
    .second{
        border: 1px solid red;
        width: 35%;
        height: 90vh;
        display: flex;
        position: relative;
        left: 12rem;
        background-image: url(926ebe72a878965a0d75b9bde47fb2eb.jpg);
        background-size: 100% 100%;
    }
    .third{
        /* border: 1px solid red; */
        height: 200px;
        width: 350px;
        position: relative;
        top: 4rem;
        padding-left: 1rem;
        font-size: 10px;
         font-family: 'Cinzel', serif;
         color: rgb(16, 44, 114);
    }
    .fourth{
        /* border: 1px solid red; */
        height: 120px;
        width: 300px;
        font-size: 10px;
        right: 1.2rem;
        position: relative;
        top: 18rem;
        padding-left: 1.4rem;
         font-family: 'Cinzel', serif;
         color: rgb(16, 44, 114);
    }
    .form{
        color: rgb(6, 130, 91);
        font-weight:bold;
    }
}